.drawer{
    height: 90%;
    width: 25%;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left:-25%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    animation: close-drawer 1s forwards;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
}

.btn1,.btn2{
    width: 165px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    background-color: #f3630c;
    margin-bottom: 10px;
}

.btn2{
    background-color: #38d002;
}

.btn-text1,.btn-text2{
   font-size: 20px;
   color: #ffffff;
   font-weight: 600;
}

.links{
    display: flex;
    flex-direction: column;
    margin-left: 10%;

}

.terms-conditions, .help, .about, .faqs, .privacy-policy{
    color: black;
    font-size: 18px;
    margin-bottom: 19px;
    font-weight: 450;
}

Link{
    text-decoration:none;
}

.app-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
}

.about-text{
    color: black;
    font-size: 12px;
}

.upper-container{
    width: 100%;
    height: 55%;
    padding-top: 22%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

@keyframes open-drawer {
    from {
        /* position: absolute; */
        left:-25%;
    }
    to {
        /* position: absolute; */
        left:0px;
    }
  }

  @keyframes close-drawer {
    from {
        /* position: absolute; */
        left:0;
    }
    to {
        /* position: absolute; */
        left:-25%;
    }
  }